#tableHasil th {
    font-weight: normal; /* Menghilangkan efek bold */
}
#tableHasil thead th {
    background-color: #3282e8;
    color: white; /* Ubah warna teks ke putih agar lebih terlihat */
}

#tableHasil tbody tr:nth-child(odd) {
    background-color: #e0ebfb;
}

#tableHasil tbody tr td {
    padding: 5px 0; /* Sesuaikan nilai sesuai preferensi Anda */
}
/* Baris genap dalam tabel DataTables */
#tableHasil tbody tr:nth-child(even) {
    background-color: #88b6f1;
}

#tableHasil tbody td.text-padding {
    padding: 5px; /* Sesuaikan nilai sesuai preferensi Anda */
    font-size : 13px;
}

#tableData th {
    font-weight: normal; /* Menghilangkan efek bold */
}
#tableData thead th {
    background-color: #3282e8;
    color: white; /* Ubah warna teks ke putih agar lebih terlihat */
}

#tableData tbody tr:nth-child(odd) {
    background-color: #e0ebfb;
}

#tableData tbody tr td {
    padding: 5px 0; /* Sesuaikan nilai sesuai preferensi Anda */
}
/* Baris genap dalam tabel DataTables */
#tableData tbody tr:nth-child(even) {
    background-color: #88b6f1;
}

#tableData tbody td.text-padding {
    padding: 5px; /* Sesuaikan nilai sesuai preferensi Anda */
    font-size : 13px;
}
.center-text {
    text-align: center;
}

.modal-header {
    background-color: #3282e8;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 10;
}

.btn-custom-close {
    font-size: 22px; /* Sesuaikan ukuran ikon silang sesuai kebutuhan Anda */
    line-height: 1;
    margin-top: 0px;
    font-weight: bold; /* Membuat ikon silang menjadi tebal */
}
.btn-sm {
    padding: 1px 6px; /* Atur padding tombol kecil */
    font-size: 12px; /* Atur ukuran font tombol kecil */
}

.custom-label {
    display: inline-block;
    width: 120px; /* Sesuaikan lebar label sesuai kebutuhan Anda */
    margin-right: 10px; /* Sesuaikan margin antara label dan input sesuai kebutuhan Anda */
    vertical-align: top;
}

.custom-input {
    display: inline-block;
    width: calc(100% - 130px); /* Lebar input adalah sisa lebar setelah label */
}

.form-group label {
    /* Gaya label di dalam formulir dengan ID myForm */
    font-size: 14px; /* Sesuaikan dengan ukuran yang Anda inginkan */
}

.form-group input[type="text"] {
    /* Gaya input teks di dalam formulir dengan ID myForm */
    font-size: 14px; /* Sesuaikan dengan ukuran yang Anda inginkan */
}

.nav-item.active {
    background-color: #f8f9fa; /* Example background color */
    /* Add any other styles to highlight the active menu item */
}

.table td {
    border: 1px solid #ccc;
    padding: 8px; /* tambahkan padding jika diperlukan */
}

.nav-sidebar .nav-link.active > .nav-icon {
    background-color: #ffffff; /* Warna latar belakang yang diinginkan */
    border-radius: 50%; /* Membuat lingkaran */
    padding: 0.25rem; /* Ruang di sekitar ikon */
}

.text-left {
    padding-left: 10px; /* Tambahkan padding kiri */
}

.text-right {
    padding-right: 10px; /* Tambahkan padding kanan */
}

/* CSS untuk checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Lebar checkbox */
    height: 24px; /* Tinggi checkbox */
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Warna slider ketika off */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 24px; /* Bentuk slider */
    width: 36px; /* Lebar slider */
    height: 20px; /* Tinggi slider */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Tinggi tombol slider */
    width: 16px; /* Lebar tombol slider */
    left: 4px; /* Jarak dari sisi kiri slider */
    bottom: 2px; /* Jarak dari sisi bawah slider */
    background-color: white; /* Warna tombol slider */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Bentuk tombol slider */
}

input:checked + .slider {
    background-color: #2196F3; /* Warna slider ketika on */
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; /* Efek bayangan ketika slider fokus */
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px); /* Memindahkan tombol slider ke kanan ketika on */
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Untuk menyelaraskan teks dengan checkbox */
.switch label {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px; /* Atur jarak antara teks dengan checkbox */
    font-size: 14px; /* Ukuran teks */
}
